* {
  /* outline에 0 또는 none 값을 지정하면 브라우저의 기본 포커스 스타일이 사라집니다.  */
  /* 
    참고: 많은 요소의 외곽선은 스타일을 지정하지 않을 경우 보이지 않습니다.
    스타일 기본값이 none이기 때문인데, 주목할만한 예외는 <input> 요소로 브라우저의 기본 스타일이 적용됩니다. 
  */
  /* 그니까 클릭이나 submit등 input 요소를 눌렀을 때 focus 윤곽선이 나타나는 게 없도록 한다는 거지 */
  /* MDN에서는 상호작용이 가능한 요소에 대해서 기본 포커스 스타일을 제거한다면, 다른 뚜렷한 대안을 제공하라고 함 */
  
  /* 그러나 여기서는 그냥 어떤 이벤트가 발생했을 때 쓸데없이 포커스 윤곽선이 생기지 않도록 하려는 것이기 때문에 그럴 필요는 없음. */
  outline: 0; 
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

canvas {
  width: 100%;
  height: 100%;
}